<div
    class="relative flex max-w-[100rem] flex-col-reverse items-center justify-center gap-10 p-4 md:gap-20 md:p-20 xl:flex-row-reverse">
    <div>
        <h2 class="font-title text-center leading-none md:text-start">
            <span class="text-[clamp(2rem,8vw,4rem)] font-black">RIUDICC</span> <br>
            <div class="h-4 md:h-2"></div>

            <span class="text-[clamp(2rem,8vw,4rem)] font-light">{{siglas()}}</span>
        </h2>
        <div class="h-8 md:h-12"></div>

        <p class="text-base-content/70 font-title mb-6 text-center font md:text-3xl md:text-start">
            {{aboutContenido()}}</p>

        <p class="text-base-content/70 font-title mb-6 text-center font-light md:text-3xl xl:text-start">
        </p>
        <div class="h-4 md:h-10"></div>
        <div class="flex w-full justify-center xl:justify-start"><a
                data-sveltekit-preload-data=""
                [routerLink]="['/about']"
                class="btn btn-lg btn-wide btn-outline group"
            >{{about()}}<svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="hidden h-6 w-6 transition-transform duration-300 group-hover:translate-x-1 md:inline-block rtl:rotate-180 group-hover:rtl:-translate-x-1"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
                    ></path>
                </svg></a></div>
    </div>
</div>



<!-- <section
    aria-labelledby="
            banners-section"
    class="mt-10 md:mt-20"
>

    @if (bannersResponse.hasValue()) {
    <home-carousel [banners]="bannersResponse.value().items"></home-carousel>

    }
</section> -->


<section aria-labelledby="news-section ">

    <div class=" max-w-[100rem] mt-10 md:mt-10  p-4  md:p-20 ">
        <div>


            <div>

                <h2
                    id="news-title"
                    class="   text-left font-['Roboto'] tracking-wide"
                >
                    <span class="block text-4xl md:text-6xl font-light font-title">
                        {{noticias()}}
                    </span>
                </h2>
                <hr class="mb-6 md:mb-10 border-t border-gray-300">
            </div>
            @if (noticiasResponse.isLoading()) {
            <div class="flex justify-center items-center h-screen">

                <span class="loading loading-spinner loading-lg"></span>
            </div>
            }

            @if (noticiasResponse.hasValue()) {
            <home-blog [noticias]="noticiasResponse.value().items"></home-blog>
            <!-- <div class="flex flex-col gap-8">
                @for (noticia of noticiasResponse.value().items; track $index) {



                <noticia-card
                    [noticia]="noticia"
                    [horizontal]="true"
                ></noticia-card>
                }
            </div> -->
            }


            <!-- <div class="flex w-full justify-center mt-10">

                <a
                    data-sveltekit-preload-data=""
                    [routerLink]="['/news']"
                    class="btn  btn-wide btn-lg btn-primary"
                >{{moreNews()}}</a>
            </div> -->



        </div>
    </div>
</section>