<h1 class="text-2xl font-bold">Listado de noticias</h1>
<h3 class="text-lg">
  Total de noticias
  <span class="text-accent">{{ noticiasResource.value()?.count }}</span>
</h3>

<div class="divider"></div>

<div class="flex gap-2 items-center h-20">
  <app-pagination
    [pages]="noticiasResource.value()?.pages ?? 0"
    [currentPage]="paginationService.currentPage()"
  />

  <select
    class="select select-bordered w-32"
    (change)="noticiasPerPage.set(+selectPerPage.value)"
    #selectPerPage
  >
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>

  <div class="flex flex-1"></div>

  <button
    class="btn btn-primary"
    routerLink="/admin/noticias/new"
  >
    Nueva noticia
  </button>
</div>

<!-- Listado -->
<div class="overflow-x-auto mb-10">
  <noticias-table [noticias]="noticiasResource.value()?.items ?? []" />

</div>