<div class="overflow-x-auto mb-10 pb-10">
  <table class="table">
    <!-- head -->
    <thead class="">
      <tr>
        <!-- <th>
          <label>
            <input
              type="checkbox"
              class="checkbox"
            />
          </label>
        </th> -->
        <th>Tittle</th>
        <th>Date</th>
        <th>Slug SEO</th>
        <th>State</th>
        <th></th>

      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (noticia of noticias(); track noticia.id) {

      <tr>
        <!-- <th>
          <label>
            <input
              type="checkbox"
              class="checkbox"
            />
          </label>
        </th> -->
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <img
                  [src]="noticia.images | imageNamePipe: 'not'"
                  [alt]="noticia.images[0]"
                />
              </div>
            </div>
            <div>
              <a
                [routerLink]="['/admin/noticias', noticia.id]"
                class="font-bold hover:text-accent transition-colors duration-300"
              > {{ getTraduccionFrom(noticia).title }}</a>


            </div>
          </div>
        </td>
        <td>
          {{ noticia.displayDate | date: 'longDate' }}
        </td>
        <td>
          {{ noticia.slug }}
        </td>
        <td>
          {{ noticia.state | titlecase }}
        </td>
        <th>
          <a
            [routerLink]="['/admin/noticias', noticia.id]"
            class="btn btn-ghost text-accent btn-xs"
          >
            Editar
          </a>
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>