<page-title
    firstWord="Our"
    secondWord="Projects"
></page-title>

<!-- <div class=" max-w-[100rem]   px-4  md:px-20   grid grid-cols-1  lg:grid-cols-2 mt-7 gap-5">

    @if (sociedadResponse.isLoading()) {
    <div class="flex justify-center items-center h-screen">

        <span class="loading loading-spinner loading-lg"></span>
    </div>
    }
    @if (sociedadResponse.hasValue()) {
    @for (proyecto of sociedadResponse.value().items; track $index) {

    <project-card [proyecto]="proyecto"></project-card>
    }
    @empty {
    <p>No data loaded yet.</p>
    }}

</div> -->

<div class=" max-w-[100rem]   px-4  md:px-20   grid grid-cols-1 ">

    <div class="flex flex-col items-center justify-center min-h-[40vh]">
        <h2 class="text-2xl md:text-3xl font-['Roboto'] font-bold text-center mb-4">
            {{titulo()}}
        </h2>
        <p class="text-lg md:text-xl font-['Roboto'] text-center max-w-2xl">
            {{descripcion()}}
        </p>
    </div>
</div>