<div class="animate-fadeIn ">
    <div
        class="cursor-pointer hover:shadow-xl shadow-sm transition-shadow duration-300 rounded-xl bg-base-100"
        [routerLink]="['/partners', institucion().slug]"
    >
        <div class="flex items-center gap-4 p-4">
            <!-- Logo universidad -->
            <figure class="w-40 h-20 rounded overflow-hidden flex justify-center items-center">
                <img
                    [src]="institucion().images | imageNamePipe: 'uni'"
                    [alt]="institucion().images[0].altText"
                    class="max-w-full max-h-full object-contain"
                >
            </figure>

            <!-- <figure class="w-40 h-20 flex-shrink-0 flex items-center justify-center bg-white overflow-hidden">
  <img
    [src]="institucion().images | imageNamePipe: 'uni'"
    [alt]="institucion().images[0].altText"
    class="max-w-full max-h-full object-contain"
  >
</figure> -->
            <!-- <figure class="w-40 aspect-[2/1] flex-shrink-0 flex items-center justify-center  overflow-hidden">
                <img
                    [src]="institucion().images | imageNamePipe: 'uni'"
                    [alt]="institucion().images[0].altText"
                    class="max-w-full max-h-full object-contain"
                >
            </figure> -->


            <!-- Información -->
            <div class="flex flex-col justify-between h-full flex-grow">

                <!-- Nombre -->
                <h4 class="text-base font-semibold text-primary hover:underline transition-all">
                    {{ traduccion().name }}
                </h4>

                <!-- Bandera -->
                <!-- Banderita -->

                <div class="flex items-center space-x-2 mt-2">
                    <img
                        [src]="'https://flagcdn.com/w40/' + (institucion().paisCode.toLowerCase()) + '.png'"
                        class="w-6 h-4 object-cover rounded-sm"
                        [alt]="institucion().pais"
                    >
                    <span class="text-sm text-gray-500 capitalize">{{ institucion().pais }}</span>
                </div>
            </div>
        </div>
    </div>
</div>