<div
    class="swiper"
    #swiperDiv
>
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        @for (banner of banners() ; track $index) {
        @if (banner.enlaces && banner.enlaces.length > 0) {


        <div class="swiper-slide bg-white">
            <a
                [routerLink]="[banner.enlaces]"
                class="block cursor-pointer"
            >
                <img
                    [src]="banner.image | imageNamePipe: 'ban'"
                    alt="{{getAltText(banner)}}"
                    class="w-full h-48 sm:h-64 md:h-80 lg:h-[30rem] object-contain"
                >
                <!-- class="w-full  object-cover"
     
     -->
            </a>
        </div>
        }@else {
        <div class="swiper-slide bg-base-100">
            <img
                [src]="banner.image | imageNamePipe: 'ban'"
                alt="{{getAltText(banner)}}"
                class="w-full h-48 sm:h-64 md:h-80 lg:h-[30rem] object-cover"
            >
            <!-- class="w-full  object-cover"
     
     -->
        </div>
        }


        }

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>