<page-title
    firstWord="Work"
    secondWord="Packages"
></page-title>


<section
    aria-labelledby="work-packages-intro"
    class="max-w-[100rem] px-4 md:px-20"
>
    <div class="mb-10">
        <h2
            id="work-packages-intro"
            class="mt-10 md:mt-20 text-left font-['Roboto'] tracking-wide"
        >
            <span class="text-justify block text-2xl md:text-3xl font-light text-base-content/70">
                {{description()}}
            </span>
        </h2>
    </div>
</section>

<section
    aria-labelledby="work-packages-cards"
    class="mt-10 md:mt-20 mx-auto max-w-6xl"
>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-6">
        @for (wp of workPackages(); track wp.wpNumber) {
        <div class="animate-fadeIn">
            <div class="card bg-base-100 shadow-md hover:shadow-xl transition">
                <div class="card-body">
                    <h3 class="text-xl font-semibold text-primary">{{ wp.wpNumber }} - {{
                        getWorkPackageDescription(wp).name
                        }}</h3>
                    <p class="text-sm text-gray-500">{{leadText()}} {{ wp.lead }}</p>


                    <p class="text-sm text-gray-500">{{durationText()}} : Month {{ wp.startMonth }} to {{ wp.endMonth }}
                    </p>
                    <!-- <p class="text-sm text-gray-500">Effort: {{ wp.effort }} person-months</p> -->
                    <ul class="mt-2 list-disc list-inside text-gray-600 text-sm">
                        @for (d of getWorkPackageDescription(wp).deliverables; track d) {
                        <li>{{ d }}</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        }
    </div>
</section>