<div class="overflow-x-auto mb-10 pb-10">
    <table class="table">
        <!-- head -->
        <thead class="">
            <tr>
                <!-- <th>
          <label>
            <input
              type="checkbox"
              class="checkbox"
            />
          </label>
        </th> -->
                <th>Tittle</th>
                <th>Date</th>
                <th>Slug SEO</th>
                <th>State</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <!-- row 1 -->
            @for (institucion of insituciones(); track institucion.id) {

            <tr>
                <!-- <th>
          <label>
            <input
              type="checkbox"
              class="checkbox"
            />
          </label>
        </th> -->
                <td>
                    <div class="flex items-center gap-3">
                        <div class="avatar">
                            <div class="mask mask-squircle h-12 w-12">
                                <img
                                    [src]="institucion.images | imageNamePipe: 'uni'"
                                    [alt]="institucion.images[0]"
                                />
                            </div>
                        </div>
                        <div>
                            <a
                                [routerLink]="['/admin/universidades', institucion.id]"
                                class="font-bold hover:text-accent transition-colors duration-300"
                            > {{ getTraduccionFrom(institucion).name }}</a>


                        </div>
                    </div>
                </td>
                <td>
                    {{ institucion.createdAt | date: 'longDate' }}
                </td>
                <td>
                    {{ institucion.slug }}
                </td>
                <td>
                    {{ institucion.state ==='active' ? 'Activo' : 'Inactivo' }}
                </td>
                <th>
                    <a
                        [routerLink]="['/admin/universidades', institucion.id]"
                        class="btn btn-ghost text-accent btn-xs"
                    >
                        Details
                    </a>
                </th>
            </tr>
            }
        </tbody>
    </table>
</div>