<form
    [formGroup]="bannerForm"
    (ngSubmit)="onSubmit()"
    class="space-y-6"
>

    <section>
        <h2 class="text-lg font-bold">Datos Generales</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-2">

            <div>
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Identificador único para el banner"
                    >
                        <span class="label-text font-semibold cursor-help">Slug</span>
                    </div>
                </label>
                <input
                    type="text"
                    formControlName="slug"
                    placeholder="Slug"
                    class="input input-bordered w-full"
                />
                <form-error-label [control]="bannerForm.get('slug')!" />
            </div>

            <div>
                <!-- Tags -->
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Palabras clave separadas por coma (ej: promoción, evento)"
                    >
                        <span class="label-text font-semibold cursor-help">Tags</span>
                    </div>
                </label>
                <input
                    type="text"
                    formControlName="tags"
                    class="input input-bordered w-full"
                />
                <form-error-label [control]="bannerForm.get('tags')!" />
            </div>
            <div>
                <!-- Fecha de Inicio -->
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Fecha desde la cual se mostrará el banner"
                    >
                        <span class="label-text font-semibold cursor-help">Fecha de Inicio</span>
                    </div>
                </label>
                <input
                    type="date"
                    formControlName="fechaInicio"
                    class="input input-bordered w-full"
                />
                <form-error-label [control]="bannerForm.get('fechaInicio')!" />
            </div>

            <div>
                <!-- Fecha de Fin -->
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Fecha en la que dejará de mostrarse el banner"
                    >
                        <span class="label-text font-semibold cursor-help">Fecha de Fin</span>
                    </div>
                </label>
                <input
                    type="date"
                    formControlName="fechaFin"
                    class="input input-bordered w-full"
                />
                <form-error-label [control]="bannerForm.get('fechaFin')!" />
            </div>

            <div>
                <!-- Enlaces -->
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Texto o URL relacionado al banner"
                    >
                        <span class="label-text font-semibold cursor-help">Enlace</span>
                    </div>
                </label>
                <input
                    type="text"
                    formControlName="enlaces"
                    class="input input-bordered w-full"
                />
                <form-error-label [control]="bannerForm.get('enlaces')!" />
            </div>
            <div>
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Estado del banner: &#10;Publicado (Muestra en Web),&#10;Editando (En espera a ser publicado)&#10;o Borrador (No se muestra en Web)"
                    >
                        <span class="label-text font-semibold cursor-help">Estado</span>
                    </div>
                </label>
                <select
                    formControlName="state"
                    class="select select-bordered w-full"
                >
                    <option value="active">Publicado</option>
                    <option value="editing">Editando</option>
                    <option value="deleted">Borrado</option>
                </select>
            </div>
            <div>
                <!-- Imagen (archivo) -->
                <label class="label">
                    <div
                        class="tooltip tooltip-bottom z-50"
                        data-tip="Selecciona una imagen para el banner"
                    >
                        <span class="label-text font-semibold cursor-help">Imagen</span>
                    </div>
                </label>
                <!-- Mostrar nombre si existe -->
                @if (originalImageName) {
                <div class="text-sm text-gray-500 italic mt-1">
                    Imagen actual: {{ originalImageName }}
                </div>
                }
                <input
                    type="file"
                    accept="image/*"
                    class="file-input file-input-bordered w-full"
                    (change)="onImageSelected($event)"
                />


            </div>
            @if(previewImageUrl()) {
            <div class="mt-2">
                <img
                    [src]="previewImageUrl()"
                    alt="Vista previa del banner"
                    class="w-full max-w-xs rounded shadow-md"
                />
            </div>}
        </div>

    </section>

    <section formArrayName="traducciones">
        <h2 class="text-lg font-bold">Traducciones (Texto alternativo)</h2>

        @if (traduccionesFormArray.length > 0) {
        @for (traduccion of traduccionesFormArray.controls; track traduccion; let i = $index) {
        <div
            class="space-y-2 border p-4 rounded-md mt-2"
            [formGroupName]="i"
        >
            <!-- Idioma -->
            <div>

                <label class="label">
                    <span class="label-text font-semibold">Idioma</span>
                </label>
                <select
                    formControlName="idioma"
                    class="select select-bordered w-full"
                >
                    <option value="">Seleccione un idioma</option>
                    <option value="es">Español</option>
                    <option value="en">Inglés</option>
                </select>
                <form-error-label [control]="traduccion.get('idioma')!" />
            </div>


            <div>

                <label class="label">
                    <span class="label-text font-semibold">Texto Alternativo</span>
                </label>
                <input
                    type="text"
                    formControlName="altText"
                    placeholder="Texto Alternativo"
                    class="input input-bordered w-full"
                />
                <form-error-label [control]="traduccion.get('altText')!" />
            </div>

            <button
                class="btn btn-outline btn-error"
                type="button"
                (click)="removeTraduccion(i)"
            >
                Eliminar
            </button>
        </div>
        }
        }
        <button
            class="btn btn-primary mt-3"
            type="button"
            (click)="addTraduccion()"
        >
            + Agregar Traducción
        </button>

    </section>



    <div class="flex justify-end  mt-10">
        <button
            class="btn"
            [class.btn-success]="!isSaving()"
            [class.btn-outline]="isSaving()"
            [disabled]="isSaving()"
            type="submit"
        >
            @if (isSaving()) {
            <span class="loading loading-spinner loading-sm"></span>
            Guardando...
            } @else {
            Guardar
            }
        </button>
    </div>

</form>

<!-- Sistema de alertas personalizado - FUERA DEL FORMULARIO -->
<div class="mb-20">
    <alert-message
        [message]="alertMessage()"
        [type]="alertType()"
        [show]="showAlert()"
        (onClose)="onAlertClose()"
    ></alert-message>
</div>