<div class=" overflow-y-scroll w-screen h-screen antialiased   ">
  <div class="flex flex-col relative w-screen">
    <div
      id="menu"
      class="bg-gray-100 min-h-screen z-10  w-64 fixed left-0 h-screen overflow-y-scroll"
    >
      <div
        id="logo"
        class="my-4 px-6"
      >
        <a
          class="hidden lg:flex"
          routerLink="/"
        >
          <img
            src="assets/images/riudicc/logo.png"
            alt="RIUDICC Logo"
            class="h-15 w-auto"
          />
        </a>
        <p class="text-slate-500 text-sm">Manage your actions and activities</p>
      </div>
      <div
        id="profile"
        class="px-6 py-10"
      >
        <p class="text-slate-500">Bienvenido,</p>
        <a
          href="#"
          class="inline-flex space-x-2 items-center"
        >
          <span>
            <img
              class="rounded-full w-8 h-8"
              src="https://images.unsplash.com/photo-1542909168-82c3e7fdca5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=128&q=80"
              alt=""
            />
          </span>
          <span class="text-sm md:text-base font-bold">
            {{ user()?.fullName }}
          </span>
        </a>
      </div>
      <div
        id="nav"
        class="w-full px-6"
      >
        <a
          routerLink="/admin/dashboard"
          routerLinkActive="active bg-blue-800"
          [routerLinkActiveOptions]="{ exact: true }"
          class="group w-full px-2 inline-flex space-x-2 items-center border-b border-slate-700 py-3 hover:bg-slate-500 transition ease-linear duration-150"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6 "
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
              />
            </svg>
          </div>
          <div class="flex flex-col">
            <span class="text-lg font-bold leading-5 group-[.active]:text-white">Dashboard</span>
            <span class="text-sm text-slate-500 hidden md:block group-[.active]:text-white/70">Data Overview</span>
          </div>
        </a>

        <!-- Menu Item BANNER -->
        @if (isAdmin()) {
        <item-bar-menu
          [link]="'/admin/banners'"
          [title]="'Banners'"
          [subtitle]="'Listado de Banners'"
        >
          <svg
            icon
            class="text-slate-700 group-hover:text-white group-[.active]:text-white transition-colors duration-150"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M6 22q-.825 0-1.412-.587T4 20V4q0-.825.588-1.412T6 2h12q.825 0 1.413.588T20 4v16q0 .825-.587 1.413T18 22zm0-2h12V4H6zm1-2h10l-3.45-4.5l-2.3 3l-1.55-2zm-1 2V4z"
            />
          </svg>
        </item-bar-menu>


        }
        <!-- Menu Item End -->


        <item-bar-menu
          [link]="'/admin/noticias'"
          [title]="'Noticias'"
          [subtitle]="'Listado de Noticias'"
        >
          <svg
            icon
            class="text-slate-700 group-hover:text-white group-[.active]:text-white transition-colors duration-150"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 21q-.825 0-1.412-.587T2 19V3l1.675 1.675L5.325 3L7 4.675L8.675 3l1.65 1.675L12 3l1.675 1.675L15.325 3L17 4.675L18.675 3l1.65 1.675L22 3v16q0 .825-.587 1.413T20 21zm0-2h7v-6H4zm9 0h7v-2h-7zm0-4h7v-2h-7zm-9-4h16V8H4z"
            />
          </svg>

        </item-bar-menu>









        <!-- Menu Item Start -->
        <item-bar-menu
          [link]="'/admin/universidades'"
          [title]="'Instituciones'"
          [subtitle]="'Listado de Instituciones'"
        >
          <svg
            icon
            class="text-slate-700 group-hover:text-white group-[.active]:text-white transition-colors duration-150"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              fill="currentColor"
              d="M21 10a1 1 0 0 0 1-1V6a1 1 0 0 0-.684-.948l-9-3a1 1 0 0 0-.632 0l-9 3A1 1 0 0 0 2 6v3a1 1 0 0 0 1 1h1v7.184A2.995 2.995 0 0 0 2 20v2a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1v-2a2.995 2.995 0 0 0-2-2.816V10Zm-1 11H4v-1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1ZM6 17v-7h2v7Zm4 0v-7h4v7Zm6 0v-7h2v7ZM4 8V6.72l8-2.666l8 2.667V8Z"
            />
          </svg>
        </item-bar-menu>


        <!-- Menu Item End -->

        <!-- Menu Item Start -->







        <button
          class="btn btn-ghost text-accent w-full"
          [routerLink]="['/auth']"
          (click)="authService.logout()"
        >
          Cerrar sesión
        </button>
      </div>
    </div>
  </div>

  <div class="flex-1 ml-64 pt-5 px-5 ">
    <router-outlet />
  </div>
</div>